/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"
/* Import definitoins stylesheet */

body
	margin 0

p
	font-size 1.1em

input
	border none
	border-radius 5px
	padding 10px
	width 100%
	float: left;
	box-sizing: border-box;
	font-weight: 400;
	margin 1% 0 2% 0
	font-size: inherit

input[type="submit"]
	width: auto;
	float: right;
	background-color: white
	text-align: center;
	&:hover
		cursor: pointer;
		color: white

label
	width: 100%
	float: left;
	text-transform: uppercase;
	font-weight: 900;
	color: color-subtle-text
    